@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    @apply leading-relaxed;
    @apply text-blue300;
  }
  * {
    @apply box-border;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    @apply font-serif;
    @apply text-3xl md:text-4xl;
    @apply mb-3;
  }
  h2 {
    @apply font-serif;
    @apply text-2xl md:text-3xl;
    @apply mb-4;
  }
  h3 {
    @apply text-lg;
    @apply font-semibold;
  }
  section {
    @apply py-11 md:py-16;
  }
}

@layer components {
  .content {
    @apply space-y-5 mb-12;
  }
  .agenda-tab-highlight {
    box-shadow: inset 0 -4px #f9c900;
  }
}
